/* my css */

#header-top .th-news-logo{
	width: 132px;
	line-height: 46px;
}

#header-top .th-news-logo img{
	height: 46px;
}

#header-top {
	border-bottom: 1px solid #ccc;
	height:46px;
	background-color: #f7f7f7;
}

#header-top .top-header{
	display: flex;
	width: 100%;
}
/*  */
