/* my css */

#header-top .th-news-logo{
	width: 132px;
	line-height: 46px;
}

#header-top .th-news-logo img{
	height: 40px;
}

#header-top {
	border-bottom: 1px solid #ccc;
	height:46px;
	background-color: #ffffff;
}


/* copy */
.iconMenu{
	width: 30px;
	display: none;
}

.trailer {
    background: #7b0401;
    height: 38px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    margin-top: 50px;
    font-size: 12px;
    border-top: 1px solid #F44336;
    border-bottom: 1px solid #F44336;
    padding-top: 10px;
}

.bannerMobiHeader{
	display: none;
}
.bannerMobiHeader a img{
	width: 100%;
}
.bannerTabletHeader{
	display: none;
}
.bannerTabletHeader a img{
	width: 100%;
}
.bannerMobiFooter{
	position: fixed;
	border-top: 1px solid #fff;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	box-shadow: 0 0 3px #0005;
	display: none;
}
.bannerMobiFooter a img{
	width: 100%;
}
.btnCloseMobiFooter{
	position: absolute;
	top: -10px;
	right: 0;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: #666;
	color: #fff;
	border-radius: 50%;
}
a.btnSetLang{
	cursor: pointer;
    display: inline-block !important;
    width: auto !important;
}
#header_btnMenu{
	position: absolute;
    top: 0;
    left: 0;
    font-size: 21px;
    color: #d71a20;
    padding: 16px 20px;
    display: none;

}
.btn_close_menu{
	position: absolute;
    top: 0;
    right: 20%;
    font-size: 22px;
    color: #fff;
    padding: 7px 20px;
    display: none; 
    transition: 0.5s;
}
.btnAdvertContact{
	position: absolute;
    top: 0;
    right : 0;
    font-size: 21px;
    color: #d71a20;
    padding: 16px 20px;
    display: none;
}

#header {
/*	height: 215px;*/
}

#header a{
	color: #ffffff;
	text-decoration: none;
}



#header-top .top-header{
	display: flex;
	width: 100%;
}



#header-top .top-header-menu{
	flex: 1;
	text-align: right;
	line-height: 46px;
}


#header-top .top-header-menu .header-lang p{
	font-size: 12px;
	font-weight: Bold;
	color: #d71a20;
}

#header-top .menu-left li{
	display: inline-block;
}

#header-top .menu-top {
	margin-bottom: 15px;
}

#header-top .header-lang {
	padding: 0px 15px;
}

#header-top .header-lang i{
	padding-right: 10px;
}

#header-top  i{
	font-size: inherit;
	color: #7e8388;
}

#header-top .list-icon i {
	padding-left: 20px;
}

#header-top .list-icon >i {
	padding-left: 0px;
}

#header-banner {
	height: 137px;
}

#header-banner{
	line-height: 136px;
}
#header-banner .container .row{
	display: flex;

}
#header-banner .logo-vnhn{
	overflow: hidden;
	width: auto;
	flex: auto;
}

#header-banner .quangcao-1{
	width: 728px;
	flex: auto;
	text-align: right;
	overflow: hidden;

}
.item-quangcao{
	position: relative;
}
.item-quangcao a{
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;

}

.item-quangcao img {
    border: 1px solid #99999947;
}

#header-menu .menu-header {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	align-items: center;
	line-height: 40px;
	background-color: #ca2e34;
	padding: 0;
	margin: 0;
	width: 100%;
}

#header-menu .menu-header>li {
	display: inline-block;
    font-weight: 300;
    font-size: 16px;
    border-left: 1px solid #de474c;
    /*margin-left: auto;
    padding-left: 25px;*/
    flex: auto;
    text-align: center;
    position: relative;
    white-space: nowrap;
}

#header-menu .menu-header>li:first-child{
	border-left: 0;
	padding-left: 0;
	
}

#header-menu .menu-header>li.active{
	background: #c20e12;
} 
#header-menu .menu-header>li:first-child a{
	font-size: 16px;
}

#header-menu .menu-header>li>a{
	display: block;
    font-weight: 600;
    font-size: 12px;
    width: 100%;
}

#header-menu .menu-header>li>ul{
	display: none;
	padding: 0;
}

#header-menu .menu-header>li>ul>li>a{
	display: block;
    font-weight: 600;
    font-size: 12px;
    width: 100%;
    border-bottom: 1px solid #efefef;
    color: #000;
    padding: 8px 15px;
    background: #F3F3F3;

}

#header-menu .menu-header >li a:hover {
	background: #980006!important;
}

#header-menu .menu-header>li.dropdown .btn_dropdown_menu_head{
	display: block;
    color: #fff;
    padding: 0 10px;
    cursor: pointer;
    
}
#header-menu .menu-header>li.dropdown>a{
	cursor: pointer;
}
.dropdown_child {
    position: absolute;
    top: 102%;
    right: 0;
    white-space: nowrap;
    z-index: 1;
}
.dropdown_child li{
	list-style: none;
}
ul.dropdown_child li a{
	background: #ab0209 !important;
	padding: 0 15px !important;
	color: #fff !important;
	border-bottom: 1px solid #de474c;
	text-align: right;
}

.btn_dropdown_menu_head{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 16px;
	padding: 9px 15px;
	transition: 0.5s;
	/*transform: rotate(90deg);*/
}
#header-menu .menu-header>li.menu_head_hide{
	display: none;
}

.magnifying-glass{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}


.formSearchMobile{display: none};

@media only screen and (max-width: 1200px) {
   
}
@media only screen and (max-width: 1024px){
	#header-banner .logo-vnhn img{
		max-width: 227px;
	}
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
    #header-menu .menu-header >li a {
	    font-size: 11px !important;
	}
	#header-banner .quangcao-1{
		width: 445px;
	}
	.formSearchMobile{display: none;}
}
@media only screen and (max-width: 768px) {
	.iconMenu{
		display: inline-block;
	}
	.bannerTabletHeader{
		display: block;
	}

	#header-menu .menu-header>li.menu_head_hide{
		display: block;
	}

	#header-menu .menu-header >li a {
	    font-size: 12px;
	}
	#header{
		height: auto;
		position: relative;
	}
    #header-top{
		display: none;
	}
		
	/*#header-menu{
		display: none;
	}*/
	#header-banner{
		line-height: 0;
		height: 128px;
		border-bottom: 1px solid #E5E5E5;

	}
	#header-banner .logo-vnhn {
	    width: auto;
	    overflow: hidden;
	    margin: 6px auto;
	    height: 70px;
	    text-align: center;
	}
	#header-banner .logo-vnhn a img{
		height: 80px;
	}


	#header-banner .quangcao-1{
		display: none;
	}
	#main{
		/*display: none;*/
		overflow: hidden;
	}
	#header_btnMenu{
		display: block;
	}
	.btnAdvertContact{
		display: block;
	}
	.btn_close_menu{
		display: block;
	}
	.btn_dropdown_menu_head{
		display: block;
	}
	#header-menu .menu-header {
	    display: none;
	    justify-content: flex-start;
	    flex-direction: row;
	    align-items: center;
	    line-height: 40px;
	    background-color: #000a !important;
	    padding: 0px;
	    z-index: 2;
	    position: fixed;
	    top: 0%;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    padding-right: 0;
	    overflow: scroll;
	    transition: 0.5s;


	}
	#header-menu .menu-header>li {
	    display: block; 
	    font-weight: 300;
	    font-size: 16px;
	    border-left: 0;
	    flex: auto;
	    text-align: left;
	    width: 80%;
	    background: #fff;
	    margin-left: 0%;
	    transition: 0.5s;
/*	    margin-bottom: -2px;
*/	}
	#header-menu .menu-header>li>a {
	    display: block;
	    font-weight: 600;
	    font-size: 12px;
	    width: 100%;
	    border-bottom: 1px solid #efefef;
	    color: #000;
	    padding: 8px 15px;
	}
	#header-menu .menu-header>li:first-child {
	    border-left: 0;
	    padding-left: 0;
	    background: #c20e12;
	    margin-bottom: -2px;
	}
	#header-menu .menu-header>li:first-child a {
	    color: #fff;
	    border-bottom: 0;
	    font-size: 14px;
	}
	#header-menu .menu-header>li.dropdown{
		display: none;
	}
	#header-menu .menu-header>li.active a{
		color: #fff;
	}

	.formSearchMobile{display: block;}
}

@media only screen and (max-width: 576px) {
	.bannerTabletHeader{
		display: none;
	}
	.bannerMobiHeader{
		display: block;
	}
	.bannerMobiFooter{
		display: block;
	}
	.formSearchMobile{
		display: block;
		margin-top: -8px;
	}

}

#header-menu .menu-header >li a{
	display: block;
	font-weight: 600;
	font-size: 12px;
	width: 100%;
}

#header-menu .menu-header >li a:hover {
  	background: #cc1806;
}

#header-menu .menu-header a:hover {
	background: #cc1806;
}

.scrollable-menu {
	height: auto;
	max-height: 200px;
	width: 250px;
	overflow: auto;
}

.slimScrollBar {
	border-radius: 0 !important;
}

.scrollable-menu >li{
	padding: 0 10px;
}
.formSearchHide{display: none; position: absolute; top: 5px; line-height: 20px; vertical-align: middle; margin-left: 10px;}
.showSearch{display: block; width: 392px;}
.inputFormSearch{width: 80%; float: left; margin-right: 5px;}
.formSearchHide a{float: left; margin-top: 10px;}
.formSearchMobile{padding: 7px 13px 7px 17px; width: 100%;}
.formSearchMobile a i {margin-top: 10px;}
.formSearchMobile input{width: 92%;}

.fa {
    padding: 5px;
    font-size: 16px!important;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 8px;
    border-radius: 3px;
    margin-top: -1px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.zb-btn-blue--30x30 {
    width: 28px!important;
    height: 28px!important;
}