{{#section 'header'}}
<title>Quản lý chuyên mục</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="/scripts/bootstrap/bootstrap.min.css">
<!-- IonIcons -->
<link rel="stylesheet" href="/scripts/ionicons/css/ionicons.min.css">
<!-- Toast -->
<link rel="stylesheet" href="/scripts/toast/jquery.toast.min.css">
<!-- OwlCarousel -->
<link rel="stylesheet" href="/scripts/owlcarousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="/scripts/owlcarousel/dist/assets/owl.theme.default.min.css">
<!-- Magnific Popup -->
<link rel="stylesheet" href="/scripts/magnific-popup/dist/magnific-popup.css">
<link rel="stylesheet" href="/scripts/sweetalert/dist/sweetalert.css">
<!-- Custom style -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/skins/all.css">
<link rel="stylesheet" href="/css/demo.css">
{{/section}}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
  <div class="container">
    <a href="index.html" class="navbar-brand">TH-News Admin</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item px-2">
          <a href="index.html" class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item px-2">
          <a href="posts.html" class="nav-link ">Tag</a>
        </li>
        <li class="nav-item px-2">
          <a href="categories.html" class="nav-link active">Chuyên mục</a>
        </li>
        <li class="nav-item px-2">
          <a href="users.html" class="nav-link">Người dùng</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown mr-3">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user"> Welcome Tú</i>
          </a>
          <div class="dropdown-menu">
            <a href="profile.html" class="dropdown-item">
              <i class="fa fa-user-circle"> Hồ sơ</i>
            </a>
            <a href="settings.html" class="dropdown-item">
              <i class="fa fa-gear"> Cài đặt</i>
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a href="login.html" class="nav-link">
            <i class="fa fa-user-times"></i> Đăng xuất
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header id="main-header" class="py-2 bg-success text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fa fa-folder-open-o"></i> Quản lý chuyên mục</h1>
      </div>
    </div>
  </div>
</header>

<!-- ACTIONS -->
<section id="action" class="py-4 mb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Tìm kiếm">
          <span class="input-group-btn">
            <button class="btn btn-success">Tìm kiếm</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CATEGORIES -->
<section id="posts">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h4>Danh sách chuyên mục</h4>
          </div>
          <table class="table table-striped">
            <thead class="thead-inverse">
              <tr>
                <th>#</th>
                <th>Tên chuyên mục</th>
                <th>Ngày tạo</th>
                <th>Action</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope>1</td>
                <td>Post One</td>
                <td>Web Development</td>
                <td>November 5, 2017</td>
                <td><a href="details.html" class="btn btn-secondary">
                    <i class="fa fa-angle-double-right"></i> Details
                  </a></td>
              </tr>
              <tr>
                <td scope>2</td>
                <td>Post Two</td>
                <td>Tech Gadgets</td>
                <td>November 6, 2017</td>
                <td><a href="details.html" class="btn btn-secondary">
                    <i class="fa fa-angle-double-right"></i> Details
                  </a></td>
              </tr>
              <tr>
                <td scope>3</td>
                <td>Post Three</td>
                <td>Web Development</td>
                <td>November 9, 2017</td>
                <td><a href="details.html" class="btn btn-secondary">
                    <i class="fa fa-angle-double-right"></i> Details
                  </a></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="main-footer" class="bg-dark text-white mt-5 p-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="lead text-center">Copyright &copy; 2019 Huỳnh Trung Tín-Lê Minh Trí-Nguyễn Hữu Tú</p>
      </div>
    </div>
  </div>
</footer>





<script src="js/jquery.min.js"></script>
<!-- <script src="js/popper.min.js"></script> -->
<!-- Path to Popper - it is for dropsdowns etc in bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
  integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace('editor1');
</script>