<header class="primary">
	<div class="firstbar">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-12">
					<div class="brand">
						<a href="index.html">
							<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041010/TH-News/logo_rf0ocp.png"
								alt="TH-News Logo">
						</a>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<form class="search" autocomplete="off">
						<div class="form-group">
							<div class="input-group">
								<input type="text" name="search" class="form-control" placeholder="Tìm kiếm">
								<div class="input-group-btn">
									<button class="btn btn-primary"><i class="ion-search"></i></button>
								</div>
							</div>
						</div>
						<div class="help-block">
							<div>Phổ biến:</div>
							<ul>
								<li><a href="#">Nông sản</a></li>
								<li><a href="#">Thủy sản</a></li>
								<li><a href="#">Kinh doanh</a></li>
								<li><a href="#">Giá vàng</a></li>
								<li><a href="#">Chứng khoán</a></li>
							</ul>
						</div>
					</form>
				</div>
				<div class="col-md-3 col-sm-12 text-right">
					<ul class="nav-icons">
						<li><a href="register.html"><i class="ion-person-add"></i>
								<div>Đăng ký</div>
							</a></li>
						<li><a href="login.html"><i class="ion-person"></i>
								<div>Đăng nhập</div>
							</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Start nav -->
	<nav class="menu">
		<div class="container">
			<div class="brand">
				<a href="#">
					<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041010/TH-News/logo_rf0ocp.png"
						alt="TH-News Logo">
				</a>
			</div>
			<div class="mobile-toggle">
				<a href="#" data-toggle="menu" data-target="#menu-list"><i class="ion-navicon-round"></i></a>
			</div>
			<div class="mobile-toggle">
				<a href="#" data-toggle="sidebar" data-target="#sidebar"><i class="ion-ios-arrow-left"></i></a>
			</div>
			<div id="menu-list">
				<ul class="nav-list">
					<li class="for-tablet nav-title"><a>Menu</a></li>
					<li class="for-tablet"><a href="login.html">Đăng nhập</a></li>
					<li class="for-tablet"><a href="register.html">Đăng ký</a></li>
					<!-- <li><a href="category.html">Thời sự</a></li> -->
					<li class="dropdown magz-dropdown"><a href="#">Thời sự <i class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="index.html">Chính trị</a></li>
							<li><a href="category.html">Quốc tế</a></li>
							<li><a href="single.html">Đô thị</a></li>
						</ul>
					</li>
					<li class="dropdown magz-dropdown">
						<a href="category.html">Kinh doanh <i class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="index.html">Nông sản</a></li>
							<li><a href="category.html">Thủy sản</a></li>
							<li><a href="single.html">Nhà đất</a></li>
						</ul>
					</li>
					<li class="dropdown magz-dropdown"><a href="#">Công nghệ <i class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="category.html">Internet</a></li>
							<li class="dropdown magz-dropdown"><a href="category.html">Mobile <i
										class="ion-ios-arrow-right"></i></a>
								<ul class="dropdown-menu">
									<li><a href="category.html">Điện thoại</a></li>
									<li class="dropdown magz-dropdown"><a href="category.html">Ứng dụng <i
												class="ion-ios-arrow-right"></i></a>
										<ul class="dropdown-menu">
											<li><a href="category.html">Android</a></li>
											<li><a href="category.html">IOS</a></li>
											<li><a href="category.html">Công nghệ mới</a></li>
										</ul>
									</li>
									<li><a href="category.html">Trí tuệ nhân tạo</a>
								</ul>
							</li>
							<li><a href="category.html">Office</a></li>
							<li class="dropdown magz-dropdown"><a href="#">Lập trình <i
										class="ion-ios-arrow-right"></i></a>
								<ul class="dropdown-menu">
									<li><a href="category.html">Web</a></li>
									<li class="dropdown magz-dropdown"><a href="category.html">Android <i
												class="ion-ios-arrow-right"></i></a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="dropdown magz-dropdown magz-dropdown-megamenu"><a href="#"> Điểm báo <i
								class="ion-ios-arrow-right"></i>
							<div class="badge">Hot</div>
						</a>
						<div class="dropdown-menu megamenu">
							<div class="megamenu-inner">
								<div class="row">
									<div class="col-md-3">
										<div class="row">
											<div class="col-md-12">
												<h2 class="megamenu-title">Trending</h2>
											</div>
										</div>
										<ul class="vertical-menu">
											<li><a href="#"><i class="ion-ios-circle-outline"></i> Link 4'47'' tại
													đây</a></li>
											<li><a href="#"><i class="ion-ios-circle-outline"></i> Chùa ba vàng</a>
											</li>
											<li><a href="#"><i class="ion-ios-circle-outline"></i> Tôi có thể thấy
													sóng điện thoại</a></li>
											<li><a href="#"><i class="ion-ios-circle-outline"></i> Phim 18+ </a>
											</li>
											<li><a href="#"><i class="ion-ios-circle-outline"></i> Game of
													thrones</a></li>
										</ul>
									</div>
									<div class="col-md-9">
										<div class="row">
											<div class="col-md-12">
												<h2 class="megamenu-title">Featured Posts</h2>
											</div>
										</div>
										<div class="row">
											<article class="article col-md-4 mini">
												<div class="inner">
													<figure>
														<a href="single.html">
															<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img10_wfgxr2.jpg"
																alt="Sample Article">
														</a>
													</figure>
													<div class="padding">
														<div class="detail">
															<div class="time">April 15, 2019</div>
															<div class="category"><a href="category.html">Pet</a>
															</div>
														</div>
														<h2><a href="single.html">Bạn đã chăm sóc cho chú mèo nhà
																bạn đúng cách chưa?</a></h2>
													</div>
												</div>
											</article>
											<article class="article col-md-4 mini">
												<div class="inner">
													<figure>
														<a href="single.html">
															<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img11_nxvm0l.jpg"
																alt="Sample Article">
														</a>
													</figure>
													<div class="padding">
														<div class="detail">
															<div class="time">April 13, 2019</div>
															<div class="category"><a href="category.html">Lifestyle</a>
															</div>
														</div>
														<h2><a href="single.html"></a>Đạp xe mỗi ngày 10km làm cơ
															thể săn chắc</h2>
													</div>
												</div>
											</article>
											<article class="article col-md-4 mini">
												<div class="inner">
													<figure>
														<a href="single.html">
															<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img14_xyrdv3.jpg"
																alt="Sample Article">
														</a>
													</figure>
													<div class="padding">
														<div class="detail">
															<div class="time">April 10, 2019</div>
															<div class="category"><a href="category.html">Travel</a>
															</div>
														</div>
														<h2><a href="single.html">Đời người phải đi những điểm đến
																này ít nhất một lần </a></h2>
													</div>
												</div>
											</article>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="dropdown magz-dropdown"><a href="#">Thể thao <i class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="category.html">Thể thao Việt Nam</a></li>
							<li class="dropdown magz-dropdown"><a href="category.html">Thể thao thế giới<i
										class="ion-ios-arrow-right"></i></a>
								<ul class="dropdown-menu">
									<li><a href="category.html">Ngoại hạng Anh</a></li>
									<li><a href="category.html">Tây Ban Nha</a></li>
									<li><a href="category.html">Ý</a></li>
									<li><a href="category.html">Pháp</a></li>
									<li><a href="category.html">Đức</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="dropdown magz-dropdown"><a href="#"> Giải trí <i class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="category.html">Sao Việt </a></li>
							<li><a href="category.html">Sao Châu Á </a></li>
							<li><a href="category.html">Sao Hollywood </a></li>
						</ul>
					</li>
					<li class="dropdown magz-dropdown"><a href="#"> Âm nhạc <i class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="category.html"> Nhạc Việt </a></li>
							<li><a href="category.html"> Nhạc Hàn </a></li>
							<li><a href="category.html"> Nhạc Âu Mỹ </a></li>
						</ul>
					</li>
					<li class="dropdown magz-dropdown"><a href="#"> Quản lý cá nhân <i
								class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="#"><i class="icon ion-person"></i> My Account</a></li>
							<li><a href="#"><i class="icon ion-heart"></i> Favorite</a></li>
							<li><a href="#"><i class="icon ion-chatbox"></i> Comments</a></li>
							<li><a href="#"><i class="icon ion-key"></i> Change Password</a></li>
							<li><a href="#"><i class="icon ion-settings"></i> Settings</a></li>
							<li class="divider"></li>
							<li><a href="#"><i class="icon ion-log-out"></i> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- End nav -->
</header>

<section class="home">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="headline">
					<div class="nav" id="headline-nav">
						<a class="left carousel-control" role="button" data-slide="prev">
							<span class="ion-ios-arrow-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" role="button" data-slide="next">
							<span class="ion-ios-arrow-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
					<div class="owl-carousel owl-theme" id="headline">
						<div class="item">
							<a href="#">
								<div class="badge">Tin mới!</div>
								Sống ảo cùng 'nhà đẹp, xe sang' chỉ với 20.000 đồng ở Trung Quốc
							</a>
						</div>
						<div class="item">
							<a href="#">
								<div class="badge">Tin mới!</div>
								Đâu mới là vật đắt giá nhất chìm cùng con tàu Titanic?
							</a>
						</div>
						<div class="item">
							<a href="#">
								<div class="badge">Tin mới!</div>
								11 năm hôn nhân đầy sóng gió của Bình Minh và Anh Thơ
							</a>
						</div>
					</div>
				</div>
				<div class="owl-carousel owl-theme slide" id="featured">
					<div class="item">
						<article class="featured">
							<div class="overlay"></div>
							<figure>
								<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041047/TH-News/News/img04_tqxqnb.jpg"
									alt="Sample Article">
							</figure>
							<div class="details">
								<div class="category"><a href="category.html">Computer</a></div>
								<h1><a href="single.html">Làm sao để sử dụng máy tính hiệu quả?</a></h1>
								<div class="time">April 8, 2019</div>
							</div>
						</article>
					</div>
					<div class="item">
						<article class="featured">
							<div class="overlay"></div>
							<figure>
								<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img14_xyrdv3.jpg"
									alt="Sample Article">
							</figure>
							<div class="details">
								<div class="category"><a href="category.html">Travel</a></div>
								<h1><a href="single.html">Đời người phải đi đến những địa điểm này ít nhất một
										lần</a></h1>
								<div class="time">April 10, 2019</div>
							</div>
						</article>
					</div>
					<div class="item">
						<article class="featured">
							<div class="overlay"></div>
							<figure>
								<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img13_l84wfg.jpg"
									alt="Sample Article">
							</figure>
							<div class="details">
								<div class="category"><a href="category.html">Art</a></div>
								<h1><a href="single.html">Rừng Nauy: lời tự sự của kẽ không còn gì</a></h1>
								<div class="time">April 8, 2019</div>
							</div>
						</article>
					</div>
					<div class="item">
						<article class="featured">
							<div class="overlay"></div>
							<figure>
								<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img05_mxtutk.jpg"
									alt="Sample Article">
							</figure>
							<div class="details">
								<div class="category"><a href="category.html">Lifestyle</a></div>
								<h1><a href="single.html">Tại sao nên ra ngoài chơi thể thao nhiều hơn</a></h1>
								<div class="time">April 9, 2019</div>
							</div>
						</article>
					</div>
				</div>
				<div class="line">
					<div>Tin mới</div>
				</div>
				<div class="row">
					{{#grouped_each 2 lastesArticles}}
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="row">
							{{#each this}}
							<article class="article col-md-12">
								<div class="inner">
									<figure>
										<a href="single.html">
											<img src="{{Thumbnail}}"
												alt="Sample Article">
										</a>
									</figure>
									<div class="padding">
										<div class="detail">
											<div class="time">April 7, 2019</div>
											<div class="category"><a href="category.html">Healthy</a></div>
										</div>
										<h2><a href="single.html">{{Title}}</a>
										</h2>
										<p>{{Sumary}}
										</p>
										<footer>
											<a href="#" class="love"><i class="ion-android-favorite-outline"></i>
												<div>{{Liked}}</div>
											</a>
											<a class="btn btn-primary more" href="single.html">
												<div>Chi tiết</div>
												<div><i class="ion-ios-arrow-thin-right"></i></div>
											</a>
										</footer>
									</div>
								</div>
							</article>
							{{/each}}
							
						</div>
					</div>
					{{/grouped_each}}
					
				</div>
				<div class="line transparent little"></div>
				<div class="row">
					<div class="col-md-6 col-sm-6 trending-tags">
						<h1 class="title-col">Trending Tags</h1>
						<div class="body-col">
							<ol class="tags-list">
								<li><a href="#">Link 4'47" tại đây</a></li>
								<li><a href="#">Chùa ba vàng</a></li>
								<li><a href="#">Tôi có thể thấy sóng điện thoại</a></li>
								<li><a href="#">Phim 18+</a></li>
								<li><a href="#">Game of thrones</a></li>
								<li><a href="#">Tân Ỷ Thiên Đồ Long Ký 2019</a></li>
								<li><a href="#">Liv - Chel</a></li>
								<li><a href="#">Red Velvet</a></li>
								<li><a href="#">Jun Vũ</a></li>
								<li><a href="#">Champion Leagues</a></li>
							</ol>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<h1 class="title-col">
							Hot News
							<div class="carousel-nav" id="hot-news-nav">
								<div class="prev">
									<i class="ion-ios-arrow-left"></i>
								</div>
								<div class="next">
									<i class="ion-ios-arrow-right"></i>
								</div>
							</div>
						</h1>
						<div class="body-col vertical-slider" data-max="4" data-nav="#hot-news-nav" data-item="article">
							<article class="article-mini">
								<div class="inner">
									<figure>
										<a href="single.html">
											<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img09_qlypzd.jpg"
												alt="Sample Article">
										</a>
									</figure>
									<div class="padding">
										<h1><a href="single.html">Các bước đơn giản để có điểm tâm ngon</a></h1>
										<div class="detail">
											<div class="category"><a href="category.html">Lifestyle</a></div>
											<div class="time">April 8, 2019</div>
										</div>
									</div>
								</div>
							</article>
							<article class="article-mini">
								<div class="inner">
									<figure>
										<a href="single.html">
											<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041047/TH-News/News/img01_hewppy.jpg"
												alt="Sample Article">
										</a>
									</figure>
									<div class="padding">
										<h1><a href="single.html">Không phải hôm nay thời tiết thật đẹp để ra ngoài
												sao?</a></h1>
										<div class="detail">
											<div class="category"><a href="category.html">Lifestyle</a></div>
											<div class="time">April 5, 2019</div>
										</div>
									</div>
								</div>
							</article>
							<article class="article-mini">
								<div class="inner">
									<figure>
										<a href="single.html">
											<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img05_mxtutk.jpg"
												alt="Sample Article">
										</a>
									</figure>
									<div class="padding">
										<h1><a href="single.html">Tại sao nên ra ngoài chơi thể thao nhiều hơn?</a>
										</h1>
										<div class="detail">
											<div class="category"><a href="category.html">Lifestyle</a></div>
											<div class="time">April 9, 2019</div>
										</div>
									</div>
								</div>
							</article>
							<article class="article-mini">
								<div class="inner">
									<figure>
										<a href="single.html">
											<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041047/TH-News/News/img02_dmg9ym.jpg"
												alt="Sample Article">
										</a>
									</figure>
									<div class="padding">
										<h1><a href="single.html"> Tuôi trẻ là phải phượt?</a></h1>
										<div class="detail">
											<div class="category"><a href="category.html">Travel</a></div>
											<div class="time">April 12, 2019</div>
										</div>
									</div>
								</div>
							</article>
							<article class="article-mini">
								<div class="inner">
									<figure>
										<a href="single.html">
											<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img13_l84wfg.jpg"
												alt="Sample Article">
										</a>
									</figure>
									<div class="padding">
										<h1><a href="single.html">Rừng NaUy: Lời tâm sự của kẽ không còn gì</a></h1>
										<div class="detail">
											<div class="category"><a href="category.html">Art</a></div>
											<div class="time">April 8, 2019</div>
										</div>
									</div>
								</div>
							</article>
							<article class="article-mini">
								<div class="inner">
									<figure>
										<a href="single.html">
											<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img08_iqdgzz.jpg"
												alt="Sample Article">
										</a>
									</figure>
									<div class="padding">
										<h1><a href="single.html">Những quán cafe phù hợp nhất để làm việc ở Sài
												Gòn</a></h1>
										<div class="detail">
											<div class="category"><a href="category.html">LifeStyle</a></div>
											<div class="time">April 11, 2019</div>
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
				<div class="line top">
					<div>Just Another News</div>
				</div>
				<div class="row">
					<article class="col-md-12 article-list">
						<div class="inner">
							<figure>
								<a href="single.html">
									<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img11_nxvm0l.jpg"
										alt="Sample Article">
								</a>
							</figure>
							<div class="details">
								<div class="detail">
									<div class="category">
										<a href="#">Film</a>
									</div>
									<div class="time">December 19, 2016</div>
								</div>
								<h1><a href="single.html">Đạp xe mỗi ngày 10km làm cơ thể săn chắc</a></h1>
								<p>
									Đạp xe mỗi ngày luôn là một hoạt động hiệu quả. Vậy đi bao lâu và bao xa
									là phù hợp nhất cho mỗi người ...
								</p>
								<footer>
									<a href="#" class="love"><i class="ion-android-favorite-outline"></i>
										<div>273</div>
									</a>
									<a class="btn btn-primary more" href="single.html">
										<div>Chi tiết</div>
										<div><i class="ion-ios-arrow-thin-right"></i></div>
									</a>
								</footer>
							</div>
						</div>
					</article>
					<article class="col-md-12 article-list">
						<div class="inner">
							<div class="badge">
								Hot
							</div>
							<figure>
								<a href="single.html">
									<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041047/TH-News/News/img02_dmg9ym.jpg"
										alt="Sample Article">
								</a>
							</figure>
							<div class="details">
								<div class="detail">
									<div class="category">
										<a href="#">Travel</a>
									</div>
									<div class="time">April 12, 2019</div>
								</div>
								<h1><a href="single.html">Tuổi trẻ là phải phượt?</a></h1>
								<p>
									Đi đâu chúng ta cũng thường nghe các bạn ở độ tuôi 20 luôn miệng nói về
									vấn đề tuổi trẻ là phải phượt, đi để không uổng phí thanh xuân. Nhưng điều
									đó có thật sự phù hợp không? ...
								</p>
								<footer>
									<a href="#" class="love"><i class="ion-android-favorite-outline"></i>
										<div>4209</div>
									</a>
									<a class="btn btn-primary more" href="single.html">
										<div>Chi tiết</div>
										<div><i class="ion-ios-arrow-thin-right"></i></div>
									</a>
								</footer>
							</div>
						</div>
					</article>
					<article class="col-md-12 article-list">
						<div class="inner">
							<figure>
								<a href="single.html">
									<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041047/TH-News/News/img03_alis7m.jpg"
										alt="Sample Article">
								</a>
							</figure>
							<div class="details">
								<div class="detail">
									<div class="category">
										<a href="#">Travel</a>
									</div>
									<div class="time">April 13, 2019</div>
								</div>
								<h1><a href="single.html">Còn chờ gì nữa mà không sách balo lên?</a></h1>
								<p>
									Cậu ơi! Cậu còn đợi gì nữa mà phí hoài tuổi xuân? Sao không xách balo lên
									mà đi cùng tôi? Còn đợi gì nữa mà không làm cho người đầy bụi? Gió ...
								</p>
								<footer>
									<a href="#" class="love active"><i class="ion-android-favorite"></i>
										<div>302</div>
									</a>
									<a class="btn btn-primary more" href="single.html">
										<div>Chi tiết</div>
										<div><i class="ion-ios-arrow-thin-right"></i></div>
									</a>
								</footer>
							</div>
						</div>
					</article>
					<article class="col-md-12 article-list">
						<div class="inner">
							<figure>
								<a href="single.html">
									<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img09_qlypzd.jpg"
										alt="Sample Article">
								</a>
							</figure>
							<div class="details">
								<div class="detail">
									<div class="category">
										<a href="#">Healthy</a>
									</div>
									<div class="time">April 8, 2019</div>
								</div>
								<h1><a href="single.html">Cách để có một bữa điểm tâm ngon</a></h1>
								<p>
									Bạn đã biết cách để có một bữa điểm tâm ngon lành chưa?
									Nhấp vào đây để biết thêm chi tiết nhé ...
								</p>
								<footer>
									<a href="#" class="love"><i class="ion-android-favorite-outline"></i>
										<div>783</div>
									</a>
									<a class="btn btn-primary more" href="single.html">
										<div>Chi tiết</div>
										<div><i class="ion-ios-arrow-thin-right"></i></div>
									</a>
								</footer>
							</div>
						</div>
					</article>
				</div>
			</div>
			<div class="col-xs-6 col-md-4 sidebar" id="sidebar">
				<div class="sidebar-title for-tablet">Sidebar</div>
				<aside>
					<div class="aside-body">
						<div class="featured-author">
							<div class="featured-author-inner">
								<div class="featured-author-cover"
									style="background-image: url('https://res.cloudinary.com/dsqfchskj/image/upload/v1557041049/TH-News/News/img15_ehutft.jpg');">
									<div class="badges">
										<div class="badge-item"><i class="ion-star"></i> Featured</div>
									</div>
									<div class="featured-author-center">
										<figure class="featured-author-picture">
											<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041010/TH-News/default-writer_sglwso.jpg"
												alt="Sample Article">
										</figure>
										<div class="featured-author-info">
											<h2 class="name">Tin Huynh</h2>
											<div class="desc">@TinHuynh</div>
										</div>
									</div>
								</div>
								<div class="featured-author-body">
									<div class="featured-author-count">
										<div class="item">
											<a href="#">
												<div class="name">Posts</div>
												<div class="value">208</div>
											</a>
										</div>
										<div class="item">
											<a href="#">
												<div class="name">Stars</div>
												<div class="value">3,729</div>
											</a>
										</div>
										<div class="item">
											<a href="#">
												<div class="icon">
													<div>Chi tiết</div>
													<i class="ion-chevron-right"></i>
												</div>
											</a>
										</div>
									</div>
									<div class="featured-author-quote">
										"Good writter! Hmmmm...... Not bad"
									</div>
									<div class="block">
										<h2 class="block-title">Photos</h2>
										<div class="block-body">
											<ul class="item-list-round" data-magnific="gallery">
												<li><a href="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041047/TH-News/News/img06_vor6ey.jpg"
														style="background-image: url('https://res.cloudinary.com/dsqfchskj/image/upload/v1557041047/TH-News/News/img06_vor6ey.jpg');"></a>
												</li>
												<li><a href="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img07_bqxmw3.jpg"
														style="background-image: url('https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img07_bqxmw3.jpg');"></a>
												</li>
												<li><a href="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img08_iqdgzz.jpg"
														style="background-image: url('https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img08_iqdgzz.jpg');"></a>
												</li>
												<li><a href="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img09_qlypzd.jpg"
														style="background-image: url('https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img09_qlypzd.jpg');"></a>
												</li>
												<li><a href="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img10_wfgxr2.jpg"
														style="background-image: url('https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img10_wfgxr2.jpg');"></a>
												</li>
												<li><a href="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img11_nxvm0l.jpg"
														style="background-image: url('https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img11_nxvm0l.jpg');"></a>
												</li>
												<li><a href="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img12_xulkla.jpg"
														style="background-image: url('https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img12_xulkla.jpg');">
														<div class="more">+2</div>
													</a></li>
												<li class="hidden"><a
														href="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img13_l84wfg.jpg"
														style="background-image: url('https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img13_l84wfg.jpg');"></a>
												</li>
												<li class="hidden"><a
														href="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img14_xyrdv3.jpg"
														style="background-image: url('https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img14_xyrdv3.jpg');"></a>
												</li>
											</ul>
										</div>
									</div>
									<div class="featured-author-footer">
										<a href="#">See All Authors</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</aside>
				<aside>
					<h1 class="aside-title">Popular <a href="#" class="all">See All <i
								class="ion-ios-arrow-right"></i></a></h1>
					<div class="aside-body">
						<article class="article-mini">
							<div class="inner">
								<figure>
									<a href="single.html">
										<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img07_bqxmw3.jpg"
											alt="Sample Article">
									</a>
								</figure>
								<div class="padding">
									<h1><a href="single.html">Chạy bộ giúp tăng tuổi thọ</a>
									</h1>
								</div>
							</div>
						</article>
						<article class="article-mini">
							<div class="inner">
								<figure>
									<a href="single.html">
										<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img14_xyrdv3.jpg"
											alt="Sample Article">
									</a>
								</figure>
								<div class="padding">
									<h1><a href="single.html">Đời người phải đi đến những điểm đến này ít nhất một
											lần</a></h1>
								</div>
							</div>
						</article>
						<article class="article-mini">
							<div class="inner">
								<figure>
									<a href="single.html">
										<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img09_qlypzd.jpg"
											alt="Sample Article">
									</a>
								</figure>
								<div class="padding">
									<h1><a href="single.html">Cách để nấu điểm tâm ngon</a></h1>
								</div>
							</div>
						</article>
						<article class="article-mini">
							<div class="inner">
								<figure>
									<a href="single.html">
										<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img11_nxvm0l.jpg"
											alt="Sample Article">
									</a>
								</figure>
								<div class="padding">
									<h1><a href="single.html">Đạp xe mỗi ngày 10km làm cơ thể săn chắc</a></h1>
								</div>
							</div>
						</article>
						<article class="article-mini">
							<div class="inner">
								<figure>
									<a href="single.html">
										<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041047/TH-News/News/img06_vor6ey.jpg"
											alt="Sample Article">
									</a>
								</figure>
								<div class="padding">
									<h1><a href="single.html">Cách để có một bữa trưa đầy đủ dinh dưỡng</a></h1>
								</div>
							</div>
						</article>
						<article class="article-mini">
							<div class="inner">
								<figure>
									<a href="single.html">
										<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041047/TH-News/News/img03_alis7m.jpg"
											alt="Sample Article">
									</a>
								</figure>
								<div class="padding">
									<h1><a href="single.html">Còn chờ gì nữa mà không sách balo lên?</a></h1>
								</div>
							</div>
						</article>
					</div>
				</aside>
				<aside>
					<div class="aside-body">
						<form class="newsletter">
							<div class="icon">
								<i class="ion-ios-email-outline"></i>
								<h1>Newsletter</h1>
							</div>
							<div class="input-group">
								<input type="email" class="form-control email" placeholder="Your mail">
								<div class="input-group-btn">
									<button class="btn btn-primary"><i class="ion-paper-airplane"></i></button>
								</div>
							</div>
							<p>Nhập email để chúng tôi có thể thông báo cho bạn nếu có tin tức gì mới</p>
						</form>
					</div>
				</aside>
				<aside>
					<ul class="nav nav-tabs nav-justified" role="tablist">
						<li class="active">
							<a href="#recomended" aria-controls="recomended" role="tab" data-toggle="tab">
								<i class="ion-android-star-outline"></i> Recomended
							</a>
						</li>
						<li>
							<a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">
								<i class="ion-ios-chatboxes-outline"></i> Comments
							</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="recomended">
							<article class="article-fw">
								<div class="inner">
									<figure>
										<a href="single.html">
											<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041049/TH-News/News/img16_nnih3a.jpg"
												alt="Sample Article">
										</a>
									</figure>
									<div class="details">
										<div class="detail">
											<div class="time">April 13, 2019</div>
											<div class="category"><a href="category.html">Sport</a></div>
										</div>
										<h1><a href="single.html">Chàng trai đạp xe hơn 10000km</a></h1>
										<p>
											Anh T đạp xe hơn 10000km vì đam mê với bộ môn này và ước muốn được
											đi du lịch khắp thế giới
										</p>
									</div>
								</div>
							</article>
							<div class="line"></div>
							<article class="article-mini">
								<div class="inner">
									<figure>
										<a href="single.html">
											<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img05_mxtutk.jpg"
												alt="Sample Article">
										</a>
									</figure>
									<div class="padding">
										<h1><a href="single.html">Tại sao nên ra ngoài chơi thể thao nhiều hơn?</a>
										</h1>
										<div class="detail">
											<div class="category"><a href="category.html">Lifestyle</a></div>
											<div class="time">April 9, 2016</div>
										</div>
									</div>
								</div>
							</article>
							<article class="article-mini">
								<div class="inner">
									<figure>
										<a href="single.html">
											<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041047/TH-News/News/img02_dmg9ym.jpg"
												alt="Sample Article">
										</a>
									</figure>
									<div class="padding">
										<h1><a href="single.html">Tuổi trẻ là phải phượt?</a></h1>
										<div class="detail">
											<div class="category"><a href="category.html">Travel</a></div>
											<div class="time">April 12, 2019</div>
										</div>
									</div>
								</div>
							</article>
							<article class="article-mini">
								<div class="inner">
									<figure>
										<a href="single.html">
											<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img10_wfgxr2.jpg"
												alt="Sample Article">
										</a>
									</figure>
									<div class="padding">
										<h1><a href="single.html">Bạn đã chăm sóc cho chú mèo nhà bạn đúng cách
												chưa?</a></h1>
										<div class="detail">
											<div class="category"><a href="category.html">Pet</a></div>
											<div class="time">April 15, 2019</div>
										</div>
									</div>
								</div>
							</article>
						</div>
						<div class="tab-pane comments" id="comments">
							<div class="comment-list sm">
								<div class="item">
									<div class="user">
										<figure>
											<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041010/TH-News/default-writer_sglwso.jpg"
												alt="User Picture">
										</figure>
										<div class="details">
											<h5 class="name">Tín Huỳnh</h5>
											<div class="time">24 Hours</div>
											<div class="description">
												Wow! Such a good writer
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="user">
										<figure>
											<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041010/TH-News/default-writer_sglwso.jpg"
												alt="User Picture">
										</figure>
										<div class="details">
											<h5 class="name">Tin Huynh</h5>
											<div class="time">36 Hours</div>
											<div class="description">
												I beleive in your point of view
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="user">
										<figure>
											<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041010/TH-News/default-writer_sglwso.jpg"
												alt="User avatar">
										</figure>
										<div class="details">
											<h5 class="name">Tin Huynh</h5>
											<div class="time">40 Hours</div>
											<div class="description">
												I see what you are talking about
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</aside>
				<aside>
					<h1 class="aside-title">Videos
						<div class="carousel-nav" id="video-list-nav">
							<div class="prev"><i class="ion-ios-arrow-left"></i></div>
							<div class="next"><i class="ion-ios-arrow-right"></i></div>
						</div>
					</h1>
					<div class="aside-body">
						<ul class="video-list" data-youtube='"carousel":true, "nav": "#video-list-nav"'>
							<li><a data-youtube-id="SBjQ9tuuTJQ" data-action="magnific"></a></li>
							<li><a data-youtube-id="9cVJr3eQfXc" data-action="magnific"></a></li>
							<li><a data-youtube-id="DnGdoEa1tPg" data-action="magnific"></a></li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
	</div>
</section>

<section class="best-of-the-week">
	<div class="container">
		<h1>
			<div class="text">Best Of The Week</div>
			<div class="carousel-nav" id="best-of-the-week-nav">
				<div class="prev">
					<i class="ion-ios-arrow-left"></i>
				</div>
				<div class="next">
					<i class="ion-ios-arrow-right"></i>
				</div>
			</div>
		</h1>
		<div class="owl-carousel owl-theme carousel-1">
			<article class="article">
				<div class="inner">
					<figure>
						<a href="single.html">
							<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041047/TH-News/News/img03_alis7m.jpg"
								alt="Sample Article">
						</a>
					</figure>
					<div class="padding">
						<div class="detail">
							<div class="time">April 13, 2019</div>
							<div class="category"><a href="category.html">Travel</a></div>
						</div>
						<h2><a href="single.html">Còn chờ gì nữa mà không sách balo lên?</a></h2>
						<p>Cậu ơi! Còn đợi gì nữa mà phí hoài tuổi xuân?</p>
					</div>
				</div>
			</article>
			<article class="article">
				<div class="inner">
					<figure>
						<a href="single.html">
							<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041049/TH-News/News/img16_nnih3a.jpg"
								alt="Sample Article">
						</a>
					</figure>
					<div class="padding">
						<div class="detail">
							<div class="time">April 13, 2019</div>
							<div class="category"><a href="category.html">Sport</a></div>
						</div>
						<h2><a href="single.html">Chàng trai đạp xe 10000km</a></h2>
						<p> Anh T đạp xe hơn 10000km vì đam mê với bộ môn này và ước muốn được đi du lịch khắp thế
							giới</p>
					</div>
				</div>
			</article>
			<article class="article">
				<div class="inner">
					<figure>
						<a href="single.html">
							<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041049/TH-News/News/img15_ehutft.jpg"
								alt="Sample Article">
						</a>
					</figure>
					<div class="padding">
						<div class="detail">
							<div class="time">April 14, 2019</div>
							<div class="category"><a href="category.html">Lifestyle</a></div>
						</div>
						<h2><a href="single.html">Trượt ván môn thể thao hấp dẫn</a></h2>
						<p>Với niềm đam mê vơi bộ môn trượt ván tôi sẽ đem đến cho mọi người cái nhìn mới về bộ môn
						</p>
					</div>
				</div>
			</article>
			<article class="article">
				<div class="inner">
					<figure>
						<a href="single.html">
							<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img14_xyrdv3.jpg"
								alt="Sample Article">
						</a>
					</figure>
					<div class="padding">
						<div class="detail">
							<div class="time">April 10, 2019</div>
							<div class="category"><a href="category.html">Travel</a></div>
						</div>
						<h2><a href="single.html">Đời người phải đi những địa điểm này ít nhất một lần</a></h2>
						<p>Có những địa điểm mà đời người cần phải đi ít nhất một lần trong đời</p>
					</div>
				</div>
			</article>
			<article class="article">
				<div class="inner">
					<figure>
						<a href="single.html">
							<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041047/TH-News/News/img01_hewppy.jpg"
								alt="Sample Article">
						</a>
					</figure>
					<div class="padding">
						<div class="detail">
							<div class="time">April 5, 2019</div>
							<div class="category"><a href="category.html">Travel</a></div>
						</div>
						<h2><a href="single.html">Không phải hôm nay thời tiết thật đẹp để đi ra ngoài sao?</a></h2>
						<p>Thời tiết hôm nay đẹp lắm đấy. Ra ngoài đi cậu</p>
					</div>
				</div>
			</article>
			<article class="article">
				<div class="inner">
					<figure>
						<a href="single.html">
							<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img11_nxvm0l.jpg"
								alt="Sample Article">
						</a>
					</figure>
					<div class="padding">
						<div class="detail">
							<div class="time">April 13, 2019</div>
							<div class="category"><a href="category.html">Healthy</a></div>
						</div>
						<h2><a href="single.html">Đạp xe mỗi ngày 10km làm cơ thể săn chắc</a></h2>
						<p>Đạp xe mỗi ngày 10km làm cơ thể săn chắc</p>
					</div>
				</div>
			</article>
		</div>
	</div>
</section>

<!-- Start footer -->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="block">
					<h1 class="block-title">Kênh tin tức</h1>
					<div class="block-body">
						<figure class="foot-logo">
							<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041010/TH-News/logo_rf0ocp.png"
								class="img-responsive" alt="Logo">
						</figure>
						<p class="brand-description">
							TH-News là kênh tin tức được phát triển bởi nhóm đẹp trai -HCMUS
						</p>
						<a href="page.html" class="btn btn-magz white">Giới thiệu <i
								class="ion-ios-arrow-thin-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="block">
					<h1 class="block-title">Tìm kiếm nhiều <div class="right"><a href="#">See All <i
									class="ion-ios-arrow-thin-right"></i></a></div>
					</h1>
					<div class="block-body">
						<ul class="tags">
							<li><a href="#">Trâm Anh</a></li>
							<li><a href="#">Chùa Ba Vàng</a></li>
							<li><a href="#">Liverpool</a></li>
							<li><a href="#">Link 4 phút</a></li>
							<li><a href="#">Điểm thi</a></li>
							<li><a href="#">Hố đen</a></li>
							<li><a href="#">Giỗ tổ</a></li>
						</ul>
					</div>
				</div>
				<div class="line"></div>
				<div class="block">
					<h1 class="block-title">Tin tức qua email</h1>
					<div class="block-body">
						<p>Theo dõi để cập nhật tin mới qua email</p>
						<form class="newsletter">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="ion-ios-email-outline"></i>
								</div>
								<input type="email" class="form-control email" placeholder="Nhập email">
							</div>
							<button class="btn btn-primary btn-block white">Theo dõi</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="block">
					<h1 class="block-title">Tin mới</h1>
					<div class="block-body">
						<article class="article-mini">
							<div class="inner">
								<figure>
									<a href="single.html">
										<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041049/TH-News/News/ngu-dan-nghia-hiep_ta6qez.jpg"
											alt="Ngư dân nghĩa hiệp">
									</a>
								</figure>
								<div class="padding">
									<h1><a href="single.html">Anh ngư dân nghĩa hiệp</a></h1>
								</div>
							</div>
						</article>
						<article class="article-mini">
							<div class="inner">
								<figure>
									<a href="single.html">
										<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041051/TH-News/News/song-theo-tu-nhien_pfczh9.jpg"
											alt="Sống theo tự nhiên">
									</a>
								</figure>
								<div class="padding">
									<h1><a href="single.html">Về vườn để học sống thuận theo tự nhiên</a></h1>
								</div>
							</div>
						</article>
						<article class="article-mini">
							<div class="inner">
								<figure>
									<a href="single.html">
										<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041049/TH-News/News/kiatisuk_gjlpbq.jpg"
											alt="Kiatisuk">
									</a>
								</figure>
								<div class="padding">
									<h1><a href="single.html">Kiatisak bận rộn ra sao mà người Thái Lan không cầu cứu?
										</a></h1>
								</div>
							</div>
						</article>
						<article class="article-mini">
							<div class="inner">
								<figure>
									<a href="single.html">
										<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041049/TH-News/News/nu-sinh-tu-tu_vw6k0v.jpg"
											alt="Nu sinh tu tu">
									</a>
								</figure>
								<div class="padding">
									<h1><a href="single.html">Nữ sinh nhảy cầu tự tử, hai nam sinh xuống cứu nhưng bất
											thành </a></h1>
								</div>
							</div>
						</article>
						<a href="#" class="btn btn-magz white btn-block">Xem thêm <i
								class="ion-ios-arrow-thin-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-12 col-sm-6">
				<div class="block">
					<h1 class="block-title">Follow</h1>
					<div class="block-body">
						<p>Theo dõi các trang mạng xã hội để cập nhật tin tức mới nhất</p>
						<ul class="social trp">
							<li>
								<a href="#" class="facebook">
									<svg>
										<rect width="0" height="0" /></svg>
									<i class="ion-social-facebook"></i>
								</a>
							</li>

							<li>
								<a href="#" class="youtube">
									<svg>
										<rect width="0" height="0" /></svg>
									<i class="ion-social-youtube-outline"></i>
								</a>
							</li>
							<li>
								<a href="#" class="googleplus">
									<svg>
										<rect width="0" height="0" /></svg>
									<i class="ion-social-googleplus"></i>
								</a>
							</li>
							<li>
								<a href="#" class="instagram">
									<svg>
										<rect width="0" height="0" /></svg>
									<i class="ion-social-instagram-outline"></i>
								</a>
							</li>

						</ul>
					</div>
				</div>
				<div class="line"></div>
				<div class="block">
					<div class="block-body no-margin">
						<ul class="footer-nav-horizontal">
							<li><a href="index.html">Trang chủ</a></li>
							<li><a href="#">Tin tức</a></li>
							<li><a href="contact.html">Liên hệ</a></li>
							<li><a href="page.html">Giới thiệu</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="copyright">
					COPYRIGHT &copy; BY LE MINH TRI-HUYNH TRUNG-TIN-NGUYEN HUU TU
				</div>
			</div>
		</div>
	</div>
</footer>