{{#section 'header'}}
<title>Đăng ký làm subscriber</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="/scripts/bootstrap/bootstrap.min.css">
<!-- IonIcons -->
<link rel="stylesheet" href="/scripts/ionicons/css/ionicons.min.css">
<!-- Toast -->
<link rel="stylesheet" href="/scripts/toast/jquery.toast.min.css">
<!-- OwlCarousel -->
<link rel="stylesheet" href="/scripts/owlcarousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="/scripts/owlcarousel/dist/assets/owl.theme.default.min.css">
<!-- Magnific Popup -->
<link rel="stylesheet" href="/scripts/magnific-popup/dist/magnific-popup.css">
<link rel="stylesheet" href="/scripts/sweetalert/dist/sweetalert.css">
<!-- Custom style -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/skins/all.css">
<link rel="stylesheet" href="/css/demo.css">
{{/section}}

<header class="primary">
	<div class="firstbar">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-12">
					<div class="brand">
						<a href="/">
							<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041010/TH-News/logo_rf0ocp.png"
								alt="TH-News Logo">
						</a>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<form class="search" autocomplete="off">
						<div class="form-group">
							<div class="input-group">
								<input type="text" name="search" class="form-control" placeholder="Tìm kiếm">
								<div class="input-group-btn">
									<button class="btn btn-primary"><i class="ion-search"></i></button>
								</div>
							</div>
						</div>
						<div class="help-block">
							<div>Phổ biến:</div>
							<ul>
								<li><a href="#">Nông sản</a></li>
								<li><a href="#">Thủy sản</a></li>
								<li><a href="#">Kinh doanh</a></li>
								<li><a href="#">Giá vàng</a></li>
								<li><a href="#">Chứng khoán</a></li>
							</ul>
						</div>
					</form>
				</div>
				<div class="col-md-3 col-sm-12 text-right">
					<ul class="nav-icons">
						<li><a href="/register"><i class="ion-person-add"></i>
								<div>Đăng ký</div>
							</a></li>
						<li><a href="/login"><i class="ion-person"></i>
								<div>Đăng nhập</div>
							</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Start nav -->
	<nav class="menu">
		<div class="container">
			<div class="brand">
				<a href="#">
					<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041010/TH-News/logo_rf0ocp.png"
						alt="TH-News Logo">
				</a>
			</div>
			<div class="mobile-toggle">
				<a href="#" data-toggle="menu" data-target="#menu-list"><i class="ion-navicon-round"></i></a>
			</div>
			<div class="mobile-toggle">
				<a href="#" data-toggle="sidebar" data-target="#sidebar"><i class="ion-ios-arrow-left"></i></a>
			</div>
			<div id="menu-list">
				<ul class="nav-list">
					<li class="for-tablet nav-title"><a>Menu</a></li>
					<li class="for-tablet"><a href="/login">Đăng nhập</a></li>
					<li class="for-tablet"><a href="/register">Đăng ký</a></li>
					<!-- <li><a href="category.html">Thời sự</a></li> -->
					<li class="dropdown magz-dropdown"><a href="#">Thời sự <i class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="index.html">Chính trị</a></li>
							<li><a href="category.html">Quốc tế</a></li>
							<li><a href="single.html">Đô thị</a></li>
						</ul>
					</li>
					<li class="dropdown magz-dropdown">
						<a href="category.html">Kinh doanh <i class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="index.html">Nông sản</a></li>
							<li><a href="category.html">Thủy sản</a></li>
							<li><a href="single.html">Nhà đất</a></li>
						</ul>
					</li>
					<li class="dropdown magz-dropdown"><a href="#">Công nghệ <i class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="category.html">Internet</a></li>
							<li class="dropdown magz-dropdown"><a href="category.html">Mobile <i
										class="ion-ios-arrow-right"></i></a>
								<ul class="dropdown-menu">
									<li><a href="category.html">Điện thoại</a></li>
									<li class="dropdown magz-dropdown"><a href="category.html">Ứng dụng <i
												class="ion-ios-arrow-right"></i></a>
										<ul class="dropdown-menu">
											<li><a href="category.html">Android</a></li>
											<li><a href="category.html">IOS</a></li>
											<li><a href="category.html">Công nghệ mới</a></li>
										</ul>
									</li>
									<li><a href="category.html">Trí tuệ nhân tạo</a>
								</ul>
							</li>
							<li><a href="category.html">Office</a></li>
							<li class="dropdown magz-dropdown"><a href="#">Lập trình <i
										class="ion-ios-arrow-right"></i></a>
								<ul class="dropdown-menu">
									<li><a href="category.html">Web</a></li>
									<li class="dropdown magz-dropdown"><a href="category.html">Android <i
												class="ion-ios-arrow-right"></i></a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="dropdown magz-dropdown magz-dropdown-megamenu"><a href="#"> Điểm báo <i
								class="ion-ios-arrow-right"></i>
							<div class="badge">Hot</div>
						</a>
						<div class="dropdown-menu megamenu">
							<div class="megamenu-inner">
								<div class="row">
									<div class="col-md-3">
										<div class="row">
											<div class="col-md-12">
												<h2 class="megamenu-title">Trending</h2>
											</div>
										</div>
										<ul class="vertical-menu">
											<li><a href="#"><i class="ion-ios-circle-outline"></i> Link 4'47'' tại
													đây</a></li>
											<li><a href="#"><i class="ion-ios-circle-outline"></i> Chùa ba vàng</a>
											</li>
											<li><a href="#"><i class="ion-ios-circle-outline"></i> Tôi có thể thấy
													sóng điện thoại</a></li>
											<li><a href="#"><i class="ion-ios-circle-outline"></i> Phim 18+ </a>
											</li>
											<li><a href="#"><i class="ion-ios-circle-outline"></i> Game of
													thrones</a></li>
										</ul>
									</div>
									<div class="col-md-9">
										<div class="row">
											<div class="col-md-12">
												<h2 class="megamenu-title">Featured Posts</h2>
											</div>
										</div>
										<div class="row">
											<article class="article col-md-4 mini">
												<div class="inner">
													<figure>
														<a href="single.html">
															<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img10_wfgxr2.jpg"
																alt="Sample Article">
														</a>
													</figure>
													<div class="padding">
														<div class="detail">
															<div class="time">April 15, 2019</div>
															<div class="category"><a href="category.html">Pet</a>
															</div>
														</div>
														<h2><a href="single.html">Bạn đã chăm sóc cho chú mèo nhà
																bạn đúng cách chưa?</a></h2>
													</div>
												</div>
											</article>
											<article class="article col-md-4 mini">
												<div class="inner">
													<figure>
														<a href="single.html">
															<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img11_nxvm0l.jpg"
																alt="Sample Article">
														</a>
													</figure>
													<div class="padding">
														<div class="detail">
															<div class="time">April 13, 2019</div>
															<div class="category"><a href="category.html">Lifestyle</a>
															</div>
														</div>
														<h2><a href="single.html"></a>Đạp xe mỗi ngày 10km làm cơ
															thể săn chắc</h2>
													</div>
												</div>
											</article>
											<article class="article col-md-4 mini">
												<div class="inner">
													<figure>
														<a href="single.html">
															<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img14_xyrdv3.jpg"
																alt="Sample Article">
														</a>
													</figure>
													<div class="padding">
														<div class="detail">
															<div class="time">April 10, 2019</div>
															<div class="category"><a href="category.html">Travel</a>
															</div>
														</div>
														<h2><a href="single.html">Đời người phải đi những điểm đến
																này ít nhất một lần </a></h2>
													</div>
												</div>
											</article>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="dropdown magz-dropdown"><a href="#">Thể thao <i class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="category.html">Thể thao Việt Nam</a></li>
							<li class="dropdown magz-dropdown"><a href="category.html">Thể thao thế giới<i
										class="ion-ios-arrow-right"></i></a>
								<ul class="dropdown-menu">
									<li><a href="category.html">Ngoại hạng Anh</a></li>
									<li><a href="category.html">Tây Ban Nha</a></li>
									<li><a href="category.html">Ý</a></li>
									<li><a href="category.html">Pháp</a></li>
									<li><a href="category.html">Đức</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="dropdown magz-dropdown"><a href="#"> Giải trí <i class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="category.html">Sao Việt </a></li>
							<li><a href="category.html">Sao Châu Á </a></li>
							<li><a href="category.html">Sao Hollywood </a></li>
						</ul>
					</li>
					<li class="dropdown magz-dropdown"><a href="#"> Âm nhạc <i class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="category.html"> Nhạc Việt </a></li>
							<li><a href="category.html"> Nhạc Hàn </a></li>
							<li><a href="category.html"> Nhạc Âu Mỹ </a></li>
						</ul>
					</li>
					<li class="dropdown magz-dropdown"><a href="#"> Quản lý cá nhân <i
								class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="#"><i class="icon ion-person"></i> My Account</a></li>
							<li><a href="#"><i class="icon ion-heart"></i> Favorite</a></li>
							<li><a href="#"><i class="icon ion-chatbox"></i> Comments</a></li>
							<li><a href="#"><i class="icon ion-key"></i> Change Password</a></li>
							<li><a href="#"><i class="icon ion-settings"></i> Settings</a></li>
							<li class="divider"></li>
							<li><a href="#"><i class="icon ion-log-out"></i> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- End nav -->
</header>

<section class="login first grey">
	<div class="container">
		<div class="box-wrapper">
			<div class="box box-border">
				<div class="box-body">
					<h4>Đăng ký</h4>
					<form method="POST" action="/auth/register/subscriber">
						<div class="form-group">
							<label>Tên ngân hàng</label>
							<input type="text" name="name" class="form-control">
						</div>
						<div class="form-group">
							<label>Số tài khoản</label>
							<input type="text" name="bank_id" class="form-control">
						</div>
						<div class="form-group text-right">
							<button class="btn btn-primary btn-block">Đăng ký làm subscriber</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Start footer -->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="block">
					<h1 class="block-title">Kênh tin tức</h1>
					<div class="block-body">
						<figure class="foot-logo">
							<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041010/TH-News/logo_rf0ocp.png"
								class="img-responsive" alt="Logo">
						</figure>
						<p class="brand-description">
							TH-News là kênh tin tức được phát triển bởi nhóm đẹp trai -HCMUS
						</p>
						<a href="page.html" class="btn btn-magz white">Giới thiệu <i
								class="ion-ios-arrow-thin-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="block">
					<h1 class="block-title">Tìm kiếm nhiều <div class="right"><a href="#">See All <i
									class="ion-ios-arrow-thin-right"></i></a></div>
					</h1>
					<div class="block-body">
						<ul class="tags">
							<li><a href="#">Trâm Anh</a></li>
							<li><a href="#">Chùa Ba Vàng</a></li>
							<li><a href="#">Liverpool</a></li>
							<li><a href="#">Link 4 phút</a></li>
							<li><a href="#">Điểm thi</a></li>
							<li><a href="#">Hố đen</a></li>
							<li><a href="#">Giỗ tổ</a></li>
						</ul>
					</div>
				</div>
				<div class="line"></div>
				<div class="block">
					<h1 class="block-title">Tin tức qua email</h1>
					<div class="block-body">
						<p>Theo dõi để cập nhật tin mới qua email</p>
						<form class="newsletter">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="ion-ios-email-outline"></i>
								</div>
								<input type="email" class="form-control email" placeholder="Nhập email">
							</div>
							<button class="btn btn-primary btn-block white">Theo dõi</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="block">
					<h1 class="block-title">Tin mới</h1>
					<div class="block-body">
						<article class="article-mini">
							<div class="inner">
								<figure>
									<a href="single.html">
										<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041049/TH-News/News/ngu-dan-nghia-hiep_ta6qez.jpg"
											alt="Ngư dân nghĩa hiệp">
									</a>
								</figure>
								<div class="padding">
									<h1><a href="single.html">Anh ngư dân nghĩa hiệp</a></h1>
								</div>
							</div>
						</article>
						<article class="article-mini">
							<div class="inner">
								<figure>
									<a href="single.html">
										<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041051/TH-News/News/song-theo-tu-nhien_pfczh9.jpg"
											alt="Sống theo tự nhiên">
									</a>
								</figure>
								<div class="padding">
									<h1><a href="single.html">Về vườn để học sống thuận theo tự nhiên</a></h1>
								</div>
							</div>
						</article>
						<article class="article-mini">
							<div class="inner">
								<figure>
									<a href="single.html">
										<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041049/TH-News/News/kiatisuk_gjlpbq.jpg"
											alt="Kiatisuk">
									</a>
								</figure>
								<div class="padding">
									<h1><a href="single.html">Kiatisak bận rộn ra sao mà người Thái Lan không cầu cứu?
										</a></h1>
								</div>
							</div>
						</article>
						<article class="article-mini">
							<div class="inner">
								<figure>
									<a href="single.html">
										<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041049/TH-News/News/nu-sinh-tu-tu_vw6k0v.jpg"
											alt="Nu sinh tu tu">
									</a>
								</figure>
								<div class="padding">
									<h1><a href="single.html">Nữ sinh nhảy cầu tự tử, hai nam sinh xuống cứu nhưng bất
											thành </a></h1>
								</div>
							</div>
						</article>
						<a href="#" class="btn btn-magz white btn-block">Xem thêm <i
								class="ion-ios-arrow-thin-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-12 col-sm-6">
				<div class="block">
					<h1 class="block-title">Follow</h1>
					<div class="block-body">
						<p>Theo dõi các trang mạng xã hội để cập nhật tin tức mới nhất</p>
						<ul class="social trp">
							<li>
								<a href="#" class="facebook">
									<svg>
										<rect width="0" height="0" /></svg>
									<i class="ion-social-facebook"></i>
								</a>
							</li>

							<li>
								<a href="#" class="youtube">
									<svg>
										<rect width="0" height="0" /></svg>
									<i class="ion-social-youtube-outline"></i>
								</a>
							</li>
							<li>
								<a href="#" class="googleplus">
									<svg>
										<rect width="0" height="0" /></svg>
									<i class="ion-social-googleplus"></i>
								</a>
							</li>
							<li>
								<a href="#" class="instagram">
									<svg>
										<rect width="0" height="0" /></svg>
									<i class="ion-social-instagram-outline"></i>
								</a>
							</li>

						</ul>
					</div>
				</div>
				<div class="line"></div>
				<div class="block">
					<div class="block-body no-margin">
						<ul class="footer-nav-horizontal">
							<li><a href="index.html">Trang chủ</a></li>
							<li><a href="#">Tin tức</a></li>
							<li><a href="contact.html">Liên hệ</a></li>
							<li><a href="page.html">Giới thiệu</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="copyright">
					COPYRIGHT &copy; BY LE MINH TRI-HUYNH TRUNG-TIN-NGUYEN HUU TU
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- End Footer -->